/*css-common*/
/*font-family: 'Open Sans', sans-serif;
font-family: 'widgettitle', sans-serif;
font-family: 'Barlow', sans-serif;*/
h1{font-size:36px;font-family:'Barlow', sans-serif;background:linear-gradient(to right, royalblue, #0ac171);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
body{font-family:"Open Sans", sans-serif;font-size:14px;color:#00000099;}
.open-sans{font-family:'Open Sans', sans-serif;}
.oswald{font-family:'Oswald', sans-serif;}
.barlow{font-family:'Barlow', sans-serif;}
.btn-transparent{background:transparent;}
.btn.focus, .btn:focus{outline:none;box-shadow:none;}
img{max-width:100%;height:auto;}
.btn-anim-side:after{display:none;}
.btn-anim-side{background:transparent;border:1px solid #fff;border-top-color:transparent;border-bottom-color:transparent;color:#fff;padding:5px 10px;display:inline-block;transition:all .3s;}
.btn-anim-side:hover{border-top:1px solid #fff;border-bottom-color:#fff;border-top-color:#fff;border-left-color:transparent;border-right-color:transparent;color:#fff;text-decoration:none;}
.btn-view{text-transform:uppercase;color:#fff;}
.btn-view:hover{text-decoration:none;color:#fff;}
.ul{
  flex:1;
  line-height:1;
  text-decoration:none;
  background-image:linear-gradient(to right, yellow 0, yellow 100%);
  background-position:0 1.3em;
  background-size:0 100%;
  background-repeat:no-repeat;
  transition:background .5s;
}
.ul:hover{
  background-size:100% 100%;
  text-decoration:none;
}
.ul-thin{
  background-image:linear-gradient(to right, #000000aa 0, #000000aa 100%);
}
.bor-dash-blue{border:1px dashed #00bff3;}
a{display:inline-block;position:relative;color:#578cc5;}
a:hover{text-decoration:none;}
a.bar:after{
  content:'';
  width:100%;
  height:0;
  visibility:hidden;
  border-bottom:1px solid;
  display:block;
  position:absolute;
  left:0;
  transition:all .3s;
  transform:scale(1.3) translateY(1px);
  opacity:0;
}
a.bar:hover:after{
  opacity:.5;
  transform:scale(1) translateY(-1px);
  visibility:visible;
}
a.noline:after{display:none;}

.font-gradient{background:linear-gradient(to right, #1ebbf0, #30d3c0);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.form-control{border-radius:0;resize:none;}
.form-control::placeholder{font-style:italic;font-size:80%;opacity:.6;}

button:focus{
  outline:none;
}
.card{border-radius:0;}
/*css-common*/

/*css-header*/
header{box-shadow:0 0 5px -3px #000;}
.header-top{background:#2998cc;padding:5px 0;}
.header-top a{color:#bbddff;}
.header-top-left a{font-size:12px; }
.header-top-right a{font-size:14px;}
.social a{margin-left:3px;}

.header .logo{padding:10px 0;}
.logo img{max-height:64px;}

.image-block a:after, .header a:after{display:none;}

.main_menu a{display:block;}
.main_menu a:hover{text-decoration:none;}

div.main_menu ul ul li a, ul.main_menu ul li a{color:#edf2f6;transition:all .3s;}
div.main_menu ul ul a:hover, ul.main_menu ul a:hover{background:#edf2f6;color:#072351;}

div.main_menu ul, ul.main_menu, ul.main_menu ul{margin-bottom:0;padding-left:0;list-style:none;min-width:150px;padding-left:0;}
div.main_menu ul li, ul.main_menu li{display:inline-block;position:relative;}
div.main_menu ul li a, ul.main_menu li a{padding:5px;}

div.main_menu ul ul, ul.main_menu ul{position:absolute;visibility:hidden;opacity:0;z-index:999;transition:all .3s;}
div.main_menu ul ul li, ul.main_menu ul li{background:#2998cc;display:block;transform:rotateX(90deg);transition:all .3s;}

div.main_menu ul ul ul, ul.main_menu ul ul{left:100%;top:0;}
div.main_menu ul li:hover > ul, ul.main_menu li:hover > ul{visibility:visible;opacity:1;}
div.main_menu ul li:hover > ul > li, ul.main_menu li:hover > ul > li{transform:rotateX(0deg);}

#searchform{position:absolute;width:100%;top:100%;left:0;max-height:0;overflow:hidden;transition:all .3s;z-index:999;background:#000000aa;}
#searchform input[type=submit]{color:#fff;font-size:20px;opacity:.5;}
#searchform input[type=text]::placeholder{color:#fff;}
#searchform input[type=text]{background:transparent;color:#fff;font-family:'Barlow', sans-serif;font-style:italic;font-size:20px;box-shadow:none;outline:none;}
#searchform.show{max-height:100%;}
.block-heading{margin-bottom:30px;}
/*css-header*/

/*css-banner*/
/*css-banner*/

/*css-content*/
main{min-height:300px;}
.hover-wrap img{min-width:100%;}
.hover-block .row .hover-wrap{position:relative;overflow:hidden;}
.hover-block .hover-content:after{position:absolute;width:100%;height:100%;content:'';bottom:0;left:0;
  background:-moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background:-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
}

.hover-block .hover-content h4{font-family:'Barlow', sans-serif;}
.hover-block .hover-content .cont-wrap{position:relative;z-index:2;}
.hover-block .hover-content{position:absolute;bottom:0;padding:20px;color:#fff;max-height:65px;transition:all 1s;}

.hover-block .hover-wrap:hover .hover-content{max-height:100%;}


.image-block [class^=col]{margin-bottom:20px;}
.image-card{text-align:center;height:100%;border-radius:60px;border-bottom-right-radius:10px;}
.image-card .img-wrap{padding:15px;height:150px;display:flex;width:100%;align-items:center;justify-content:center;}
.image-card .card-title{margin-bottom:0;padding:15px;padding-top:0;}

.widgettitle{font-family:"Barlow", sans-serif;position:relative;padding-bottom:5px;}
.widgettitle:after{ background:#ddd; content:''; width:50px; border-bottom:3px solid; bottom:0; position:absolute; left:0; transition:all .3s; }
.widget:hover .widgettitle:after{width:70px;}
.sidebar .widget{margin-bottom:30px;box-shadow:-5px 0 5px -8px #000;padding:20px;}
.sidebar.shadow-no .widget{box-shadow:none;}
.footer_widget, .widget ul a{color:#888888;line-height:1.8;}
.widget ul{padding-left:0;list-style:none;}

.inner-banner img{min-width:100%;}
.progress{height:24px;border-radius:0;}
.progress .progress-bar{
  background:rgb(30, 187, 240);
  background:-moz-linear-gradient(left, rgba(30, 187, 240, 1) 0%, rgba(86, 227, 184, 1) 100%);
  background:-webkit-linear-gradient(left, rgba(30, 187, 240, 1) 0%, rgba(86, 227, 184, 1) 100%);
  background:linear-gradient(to right, rgba(30, 187, 240, 1) 0%, rgba(86, 227, 184, 1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ebbf0', endColorstr='#56e3b8', GradientType=1);

}

.founders img{width:265px;}
.team-member{box-shadow:0px 0px 6px -6px #000;transition:all .5s;}
.team-member p{margin-bottom:0;}
.team-member:hover{box-shadow:0px 0px 6px -4px #000;}
.team-member img{max-width:100px;transform:scale(1);transition:all .5s;}
.team-member:hover img{transform:scale(1.1)}

.content-social a{margin-right:5px;}
.content-social a span{width:26px;height:26px;display:flex;align-items:center;justify-content:center;border-radius:50px;background:#ddd;text-decoration:none;position:relative;}
.content-social a span{position:relative;z-index:2;}
.content-social a:after{border:1px solid #aaa;content:'';position:absolute;width:100%;height:100%;transform:scale(1.4);border-radius:100%;transition:all .5s;z-index:1;top:0;visibility:hidden;}
.content-social a:hover:after{transform:scale(1);border:5px solid #aaa;visibility:visible;}
.content-social a:hover{text-decoration:none;}


.content-title{border-bottom:1px solid #ddd;}
.content-title span{background:#fff;padding-right:20px}


/*contact form 7*/
div.wpcf7-response-output{margin:0;}


/*products*/
.product-categories button{padding:5px 10px;transition:all .3s;background:transparent;background-size:0 100%;background-repeat:no-repeat;background:none;border:transparent;cursor:pointer;border-radius:0;border:1px solid #eee;}
.product-categories button:hover, .product-categories button.active{color:#eee;background-size:100% 100%;
  background:rgb(65, 105, 225);
  background:-moz-linear-gradient(left, rgba(65, 105, 225, 1) 0%, rgba(10, 193, 113, 1) 100%);
  background:-webkit-linear-gradient(left, rgba(65, 105, 225, 1) 0%, rgba(10, 193, 113, 1) 100%);
  background:linear-gradient(to right, rgba(65, 105, 225, 1) 0%, rgba(10, 193, 113, 1) 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4169e1', endColorstr='#0ac171', GradientType=1);
}



.card-image {position:relative;overflow:hidden;background:#eee;min-height:300px;height:300px;}
.product-list .card .card-image img{transition:all .3s;transform:scale(1);min-height:100%;max-width:initial;width:auto;max-height:100%;}
.product-list .card:hover .card-image img{transform:scale(1.05);}

.card .card-image .card-links{position:absolute;background:#000000bb;width:100%;height:100%;z-index:999;top:0;left:0;visibility:hidden;opacity:0;transition:all .3s;}

.card:hover .card-image .card-links{visibility:visible;opacity:1;}
.card-image .card-links a{margin:0 5px;}
/*css-content*/

/*css-footer*/
footer{box-shadow:0 0 3px -2px #000 inset;background:#333;}
.footer_widget h4.widgettitle{font-family:'Barlow', sans-serif;}

.copyright{background:#2998cc;color:#bbddff;padding:5px 0;font-size:12px;}
.copyright a{color:#bbddff;}
div.footer_menu ul, ul.footer_menu{padding-left:0;list-style:none;margin-bottom:0;}
div.footer_menu ul li, ul.footer_menu li{display:inline-block;padding:0 10px;position:relative;}
div.footer_menu ul li:last-child, ul.footer_menu li:last-child{padding-right:0;}
div.footer_menu ul li:before, ul.footer_menu li:before{content:'|';position:relative;left:-14px;}
div.footer_menu ul li:first-child:before, ul.footer_menu li:first-child:before{display:none;}
/*css-footer*/

/*css-sidebar*/
/* calendar widget */
.widget_calendar{ }
#wp-calendar{width:100%; }
#wp-calendar caption{ text-align:right; color:#333; font-size:12px; margin-top:10px; margin-bottom:15px; }
#wp-calendar thead{ font-size:10px; }
#wp-calendar thead th{ padding-bottom:10px;text-align:center; padding-top:10px;background:#aaa;border:1px solid #bbb;}
#wp-calendar tbody{ color:#aaa; }
#wp-calendar tbody td{ background:#f5f5f5; border:1px solid #fff; text-align:center; padding:8px;}
#wp-calendar tbody td:hover{ background:#fff; }
#wp-calendar tbody .pad{ background:none; }
#wp-calendar tfoot #next{ font-size:10px; text-transform:uppercase; text-align:right; }
#wp-calendar tfoot #prev{ font-size:10px; text-transform:uppercase; padding-top:10px; }
/*css-sidebar*/
